<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127251856041-2etjaqi3qj4ki0s8seeiftpgdnm8j3du.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127251856041-2etjaqi3qj4ki0s8seeiftpgdnm8j3du</string>
	<key>API_KEY</key>
	<string>AIzaSyDZpl5nIB5qeGAEOi9b2YLCj7P-uoMzpfU</string>
	<key>GCM_SENDER_ID</key>
	<string>127251856041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.satoyu.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-49761</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-49761.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127251856041:ios:aa7c0f3ab1044087c8c7b8</string>
</dict>
</plist>